body {
    background: url("/images/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: black;
}

html {
	  position: relative;
	  min-height: 100%;
}

h1 {
    color: white;
}

label {
  color: white;
}

.well {
  background-color: #dcfccf;
}

.footer {
  position: absolute;
  bottom: 0;
  color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: white;
}