{{#partial "content"}}

        <h1>Add a new review:</h1>

    <form action="/campsites/{{id}}/reviews" method="post">
        <div class="form-group">
            <label for="comment">Comment: </label>
            <input id="comment" name="comment" type="text" required>
        </div>
        <div class="form-group">
            <label for="rating">Rating: </label>
            <input id="rating" name="rating" type="number" min="0" required>
        </div>

    <button type="submit" class="btn btn-success">Submit Review</button>
</form>


{{/partial}}

{{> layout.hbs}}